<!-- Start hero -->
<div class="hero-content" style="background: url(assets/images/cover/bg.jpg);">
  <app-nav></app-nav>

  <div class="hero-content-overlay">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="hero-content-wrap flex flex-column justify-content-center">
            <header class="entry-header">
              <h4>Hãy đến với chúng tôi ngay hôm nay</h4>
              <h1>ANEST - Lập trình<br />không phải là tất cả</h1>
            </header>

            <div class="entry-content">
              <p>ANEST là nơi không chỉ để lập trình, chúng tôi thành lập với tầm nhìn tạo nên một môi trường học tập
                thú vị - tốt nhất cho học viên. Biến việc học lập trình khô khan trở nên thú vị và dễ tiếp thu hơn bằng
                sự nỗ lực và tâm
                huyết của người giảng dạy.
              </p>
            </div>

            <footer class="entry-footer read-more">
              <a href="javascript:void(0)" data-toggle="modal" data-target="#aboutModal" class="mr-3">Về ANEST</a>
              <a href="#course-ready">Đăng ký</a>
            </footer>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End hero -->
