
/* ----- Footer ----- */

#footer {
    background-color: #232323;
    color: #bdbdbd;
    font-size: 15px;
}

#footer .f-top {
    padding: 60px 0 40px;
}

#footer .f-top img {
    height: 45px;
    margin-bottom: 7px;
}

#footer h6 {
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 1.15rem;
}

#footer .info ul,
#footer .social ul {
    padding: 0;
}

#footer .info ul li,
#footer .social ul li {
    list-style: none;
    padding: 2px 0;
}

#footer .course ul {
    padding-left: 18px;
}

#footer .course ul li {
    padding: 2px 0;
}

#footer .social ul li a {
    color: #bdbdbd;
    margin-right: 20px;
}

#footer .social ul li a i {
    font-size: 40px;
}

#footer .social ul li a.btn {
    color: #fff;
}

#footer .social ul li a.btn i {
    font-size: 16px;
}

#footer .social ul li a:hover i {
    color: #03bb65;
}

#signature {
    background-color: #161617;
    color: #bdbdbd;
    font-size: 14px;
}

#signature .f-bot {
    padding: 8px 0;
}

#signature .f-bot span {
    padding: 2px 0;
    display: inline-block;
}

#signature .f-bot .copyright {
    text-align: right;
}

@media screen and (max-width: 576px) {
    #signature .f-bot .copyright {
        text-align: left;
    }
    #footer .f-top {
        padding: 35px 0 10px;
    }
}