<!-- Modal about-->
<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="aboutModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Về chúng tôi</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      </div>
      <div class="modal-body">
        <div class="text-left">
          <p><i class="far fa-circle fa-fw mr-2"></i><span>ANEST</span> là nơi không chỉ để lập trình, chúng tôi thành lập với tầm nhìn tạo nên một môi trường học tập thú vị - tốt nhất cho học viên. Biến việc học lập trình khô khan trở nên thú vị và dễ tiếp
            thu hơn bằng sự nỗ lực và tâm huyết của người giảng dạy. Bên cạnh đó kiến thức giảng dạy phải luôn mang tính thực tiễn, cập nhật theo xu hướng phát triển không ngừng của công nghệ trong thời đại cách mạng công nghiệp 4.0 đang diễn ra.
          </p>
          <p><i class="far fa-circle fa-fw mr-2"></i><span>ANEST</span> không định hướng giảng dạy những thứ quá to lớn, những công nghệ mới ra ngay vì cái gì mới cũng cần được kiểm chứng và tiếp nhận từ thực tế và thời gian. Chúng tôi tập trung vào những
            cái cơ bản - cốt lõi nhất của lập trình, đó là tư duy và cảm hứng học tập. Anest là nơi dạy tư duy, định hướng cho bản thân mỗi học viên khi bước chân vào con đường trở thành một lập trình viên. Chúng tôi mong muốn mang lại cho học viên những
            thứ thực tiễn và có nền tảng nhất trong lập trình, để từ đó các bạn có thể lựa chọn con đường đi sau này.
          </p>
          <p class="mb-0"><i class="far fa-circle fa-fw mr-2"></i><span>ANEST</span> còn tập trung vào môi trường học tập, cung cấp cho học viên không gian tốt nhất để học và thư giãn sau những giờ code căng thẳng, để học viên cảm thấy
            <span>ANEST</span> như là nhà, là nơi đến học một lần sẽ muốn trờ lại thêm nhiều lần nữa.
          </p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-white" data-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div>