<header class="site-header">
  <div class="top-header-bar">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-6 top-left">
          <ul class="float-left">
            <li>
              <a href="#" style="border-right: 1px solid rgba(255, 255, 255, 0.3);">
                <i class="fas fa-phone fa-fw fa-sm"></i> 0973 876 107
              </a>
            </li>
            <li>
              <a href="#">
                <i class="far fa-envelope fa-fw"></i> anest.studio@gmail.com
              </a>
            </li>
            <li>
              <a href="#" class="px-0">
                <i class="fab fa-youtube fa-fw icon-size"></i>
              </a>
            </li>
            <li>
              <a href="#" class="px-0">
                <i class="fab fa-facebook-f fa-fw icon-size"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-12 col-lg-6 top-right">
          <div class="header-bar-menu">
            <ul class="flex float-right">
              <li>
                <a class="pr-3" href="javascript:void(0)" data-toggle="modal" data-target="#logoutModal">Đăng ký</a>
              </li>
              <li>
                <a class="pl-3" href="javascript:void(0)" data-toggle="modal" data-target="#logoutModal">Đăng nhập</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="nav-bar">
    <div class="container">
      <div class="row">
        <div class="col-9 col-lg-3">
          <div class="site-branding">
            <h1 class="site-title">
              <a href="index.html" rel="home">
                <img src="assets/images/cover/logo.png">
              </a>
            </h1>
          </div>
        </div>
        <div class="col-3 col-lg-9 flex justify-content-end">
          <nav class="site-navigation flex justify-content-end">
            <ul class="flex flex-column flex-lg-row justify-content-lg-end align-content-center">
              <li><a href="#">Trang chủ</a></li>
              <li><a href="#course">Khóa học</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Khuyễn mãi</a></li>
              <li><a href="javascript:void(0)" data-toggle="modal" data-target="#aboutModal">Về chúng tôi</a></li>
            </ul>
            <div id="btn-collapse" class="hamburger-menu d-lg-none rotate">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>